body {
  font-family: 'Indie Flower', cursive;
}

.clock{
  width: 300px;
  border: 10px dotted blue;
  background-color: red;
  font-size: 90px;
  text-align: center;
}

.tabs {
    width: 300px;
    border: 10px dotted blue;
    background-color: hotpink;
    text-align: center;
}

.tabs section {
  width: 50%;
  background-color: purple;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 0;
}

.tabs ul {
  display: flex;
  justify-content: center;
  padding: 0;
}

.tabs header {
  width: 100%;
}

.tabs li {
  background-color: white;
  list-style: none;
  border-left: 3px solid black;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.tabs li:last-of-type {
  border-right: 3px solid black;
}

.tabs article {
  padding-bottom: 25px;
  color: white;
}
